<div class="container">
    <div fxFlex>
        <div fxlayout="row" fxLayoutAlign="center" class="row-height">
            <mat-card  fxFlex="40">
                <mat-card-title>
                    <h3>Sign In</h3>
                </mat-card-title>
                <mat-card-content>
                    <form novalidate [formGroup]="signInForm"  (ngSubmit)="onSubmit()" >
                        <p>
                            <mat-form-field class="full-width">
                                <mat-label>Email :</mat-label>
                                <input matInput formControlName="email" type="email" placeholder=" Email" cdkTextareaAutosize>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="full-width">
                                <mat-label>Password :</mat-label>
                                <input matInput formControlName="password" type="password" placeholder=" Password" cdkTextareaAutosize>
                            </mat-form-field>
                        </p>
                        <button [disabled]="signInForm.invalid" type="submit" mat-raised-button  color="primary"> Submit </button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>